<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ESE Mentor AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav>

    <h2>ESE Mentor AI</h2>

    <ul>

        <li>Home</li>

        <li>Features</li>

        <li>About</li>

        <li>Login</li>

        <li>Sign Up</li>

    </ul>

</nav>


</body>

<div class="hero">

    <div class="left">

        <h1>Welcome to ESE Mentor AI</h1>

        <p>AI Powered Platform for ESE Prelims & Mains</p>

        <button>Get Started</button>

    </div>

    <section class="features">

 <h2>Our Features</h2>

  <div class="cards">

 <div class="card">
<h3>📘 Prelims</h3>
<p>Practice Topic Wise MCQs</p>
 </div>

 <div class="card">
 <h3>✍️ Mains</h3>
 <p>Generate UPSC Style Answers</p>
 </div>

  <div class="card">
  <h3>🤖 AI Chat</h3>
 <p>Ask Doubts Anytime</p>
</div>

</div>

</section>

    <div class="right">

        <img src="https://via.placeholder.com/450x350" alt="AI Image">

    </div>

</div>