<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Theory</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<h1>📘 Network Theory</h1>

<p>Select Learning Mode</p>

<div class="subjects">

    <div class="subject-card">📚 Notes</div>

    <a href="mcq.html" class="subject-card">
    ❓ MCQ Practice
</a>

    <div class="subject-card">📄 Previous Year Questions</div>

    <div class="subject-card">📝 Mock Test</div>

    <div class="subject-card">🤖 AI Tutor</div>

    <div class="subject-card">📊 Progress</div>

</div>

</body>

</html>