<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prelims - ESE Mentor AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<h1>📘 ESE Prelims</h1>

<p>Select Subject</p>

<div class="subjects">

    <a href="network-theory.html" class="subject-card">
    Network Theory
</a>

    <div class="subject-card">Electronic Devices</div>

    <div class="subject-card">Analog Circuits</div>

    <div class="subject-card">Digital Circuits</div>

    <div class="subject-card">Control Systems</div>

    <div class="subject-card">Signals & Systems</div>

</div>

</body>

</html>